@font-face {
  font-family: "bscore-font-icon";
  src: url("./fonts/bscore-font-icon.eot?7fbao5");
  src: url("./fonts/bscore-font-icon.eot?7fbao5#iefix") format("embedded-opentype"), url("./fonts/bscore-font-icon.ttf?7fbao5") format("truetype"), url("./fonts/bscore-font-icon.woff?7fbao5") format("woff"), url("./fonts/bscore-font-icon.svg?7fbao5#bscore-font-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
div[name="soccer"] [class^="ic-"], div[name="soccer"] [class*=" ic-"] {
 /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "bscore-font-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
 /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div[name="soccer"] .ic-add:before {
  content: "\e900";
}
div[name="soccer"] .ic-alarm:before {
  content: "\e901";
}
div[name="soccer"] .ic-anniversary:before {
  content: "\e902";
}
div[name="soccer"] .ic-app:before {
  content: "\e903";
}
div[name="soccer"] .ic-apple:before {
  content: "\e904";
}
div[name="soccer"] .ic-assist:before {
  content: "\e905";
}
div[name="soccer"] .ic-back:before {
  content: "\e906";
}
div[name="soccer"] .ic-back-2:before {
  content: "\e907";
}
div[name="soccer"] .ic-bank:before {
  content: "\e908";
}
div[name="soccer"] .ic-bell:before {
  content: "\e909";
}
div[name="soccer"] .ic-bell-check:before {
  content: "\e90a";
}
div[name="soccer"] .ic-bell-plus:before {
  content: "\e90b";
}
div[name="soccer"] .ic-birthday:before {
  content: "\e90c";
}
div[name="soccer"] .ic-calendar:before {
  content: "\e90d";
}
div[name="soccer"] .ic-calendar-2:before {
  content: "\e90e";
}
div[name="soccer"] .ic-calendar-day:before {
  content: "\e90f";
}
div[name="soccer"] .ic-calendar-month:before {
  content: "\e910";
}
div[name="soccer"] .ic-camera:before {
  content: "\e911";
}
div[name="soccer"] .ic-check:before {
  content: "\e912";
}
div[name="soccer"] .ic-check-none:before {
  content: "\e913";
}
div[name="soccer"] .ic-check-simple:before {
  content: "\e914";
}
div[name="soccer"] .ic-cirle-minus:before {
  content: "\e915";
}
div[name="soccer"] .ic-cirle-plus:before {
  content: "\e916";
}
div[name="soccer"] .ic-clock:before {
  content: "\e917";
}
div[name="soccer"] .ic-close:before {
  content: "\e918";
}
div[name="soccer"] .ic-close-1:before {
  content: "\e919";
}
div[name="soccer"] .ic-cloud:before {
  content: "\e91a";
}
div[name="soccer"] .ic-comment:before {
  content: "\e91b";
}
div[name="soccer"] .ic-create-event:before {
  content: "\e91c";
}
div[name="soccer"] .ic-cup:before {
  content: "\e91d";
}
div[name="soccer"] .ic-date:before {
  content: "\e91e";
}
div[name="soccer"] .ic-date-light:before {
  content: "\e91f";
}
div[name="soccer"] .ic-dead-off:before {
  content: "\e920";
}
div[name="soccer"] .ic-delete:before {
  content: "\e921";
}
div[name="soccer"] .ic-down:before {
  content: "\e922";
}
div[name="soccer"] .ic-down-2:before {
  content: "\e923";
}
div[name="soccer"] .ic-download:before {
  content: "\e924";
}
div[name="soccer"] .ic-drag:before {
  content: "\e925";
}
div[name="soccer"] .ic-edit:before {
  content: "\e926";
}
div[name="soccer"] .ic-email:before {
  content: "\e927";
}
div[name="soccer"] .ic-eye-off:before {
  content: "\e928";
}
div[name="soccer"] .ic-eye-on:before {
  content: "\e929";
}
div[name="soccer"] .ic-feed:before {
  content: "\e92a";
}
div[name="soccer"] .ic-filter:before {
  content: "\e92b";
}
div[name="soccer"] .ic-folder:before {
  content: "\e92c";
}
div[name="soccer"] .ic-forward:before {
  content: "\e92d";
}
div[name="soccer"] .ic-forward-2:before {
  content: "\e92e";
}
div[name="soccer"] .ic-gender:before {
  content: "\e92f";
}
div[name="soccer"] .ic-goal:before {
  content: "\e930";
}
div[name="soccer"] .ic-own-goal:before {
  content: "\e930";
  color: red;
}
div[name="soccer"] .ic-google:before {
  content: "\e931";
}
div[name="soccer"] .ic-hand:before {
  content: "\e932";
}
div[name="soccer"] .ic-hand-out:before {
  content: "\e933";
}
div[name="soccer"] .ic-hcircle-half-stroke:before {
  content: "\e934";
}
div[name="soccer"] .ic-heart:before {
  content: "\e935";
}
div[name="soccer"] .ic-heart-border:before {
  content: "\e936";
}
div[name="soccer"] .ic-history:before {
  content: "\e937";
}
div[name="soccer"] .ic-home:before {
  content: "\e938";
}
div[name="soccer"] .ic-home-family:before {
  content: "\e939";
}
div[name="soccer"] .ic-horoscope:before {
  content: "\e93a";
}
div[name="soccer"] .ic-humidity:before {
  content: "\e93b";
}
div[name="soccer"] .ic-leaf:before {
  content: "\e93c";
}
div[name="soccer"] .ic-lineup:before {
  content: "\e93d";
}
div[name="soccer"] .ic-list:before {
  content: "\e93e";
}
div[name="soccer"] .ic-location:before {
  content: "\e93f";
}
div[name="soccer"] .ic-lottery:before {
  content: "\e940";
}
div[name="soccer"] .ic-menu:before {
  content: "\e941";
}
div[name="soccer"] .ic-money-type:before {
  content: "\e942";
}
div[name="soccer"] .ic-moon:before {
  content: "\e943";
}
div[name="soccer"] .ic-more:before {
  content: "\e944";
}
div[name="soccer"] .ic-more-dot:before {
  content: "\e945";
}
div[name="soccer"] .ic-news:before {
  content: "\e946";
}
div[name="soccer"] .ic-news-1:before {
  content: "\e947";
}
div[name="soccer"] .ic-news-2:before {
  content: "\e948";
}
div[name="soccer"] .ic-note:before {
  content: "\e949";
}
div[name="soccer"] .ic-note-1:before {
  content: "\e94a";
}
div[name="soccer"] .ic-noti:before {
  content: "\e94b";
}
div[name="soccer"] .ic-other-day:before {
  content: "\e94c";
}
div[name="soccer"] .ic-phone:before {
  content: "\e94d";
}
div[name="soccer"] .ic-photo:before {
  content: "\e94e";
}
div[name="soccer"] .ic-pressure:before {
  content: "\e94f";
}
div[name="soccer"] .ic-repeat:before {
  content: "\e950";
}
div[name="soccer"] .ic-reset:before {
  content: "\e951";
}
div[name="soccer"] .ic-save-money:before {
  content: "\e952";
}
div[name="soccer"] .ic-search:before {
  content: "\e953";
}
div[name="soccer"] .ic-select-full:before {
  content: "\e954";
}
div[name="soccer"] .ic-select-none:before {
  content: "\e955";
}
div[name="soccer"] .ic-setting:before {
  content: "\e956";
}
div[name="soccer"] .ic-setting-simple:before {
  content: "\e957";
}
div[name="soccer"] .ic-share:before {
  content: "\e958";
}
div[name="soccer"] .ic-share2:before {
  content: "\e959";
}
div[name="soccer"] .ic-shot-in-post:before {
  content: "\e95a";
}
div[name="soccer"] .ic-sports-soccer-disallow:before {
  content: "\e95b";
}
div[name="soccer"] .ic-sports-soccer-disallow-1.failed:before {
  content: "\e95c";
  color: red;
}
div[name="soccer"] .ic-sports-soccer-disallow-1:before {
  content: "\e95c";
}
div[name="soccer"] .ic-stadium:before {
  content: "\e95d";
}
div[name="soccer"] .ic-star:before {
  content: "\e95e";
}
div[name="soccer"] .ic-star-solid:before {
  content: "\e95f";
}
div[name="soccer"] .ic-sun:before {
  content: "\e960";
}
div[name="soccer"] .ic-sunrise:before {
  content: "\e961";
}
div[name="soccer"] .ic-sunset:before {
  content: "\e962";
}
div[name="soccer"] .ic-temp:before {
  content: "\e963";
}
div[name="soccer"] .ic-time-break:before {
  content: "\e964";
}
div[name="soccer"] .ic-time-break-1:before {
  content: "\e965";
}
div[name="soccer"] .ic-tv:before {
  content: "\e966";
}
div[name="soccer"] .ic-up:before {
  content: "\e967";
}
div[name="soccer"] .ic-up-2:before {
  content: "\e968";
}
div[name="soccer"] .ic-user:before {
  content: "\e969";
}
div[name="soccer"] .ic-var:before {
  content: "\e96a";
}
div[name="soccer"] .ic-wallet:before {
  content: "\e96b";
}
div[name="soccer"] .ic-whistle:before {
  content: "\e96c";
}
div[name="soccer"] .ic-wind:before {
  content: "\e96d";
}
div[name="soccer"] .ic-work:before {
  content: "\e96e";
}
div[name="soccer"] .ic-youtube:before {
  content: "\e96f";
}
div[name="soccer"] .ic-long-arrow-left:before {
  content: "\e970";
}
div[name="soccer"] .ic-dots:before {
  content: "\e971";
}
div[name="soccer"] .ic-font-size:before {
  content: "\e972";
}
div[name="soccer"] .ic-microphone-alt:before {
  content: "\e973";
}
div[name="soccer"] .ic-play:before {
  content: "\e974";
}
div[name="soccer"] .ic-volume-up:before {
  content: "\e975";
}
div[name="soccer"] .ic-volume-slash:before {
  content: "\e976";
}
div[name="soccer"] .ic-thumbs-up:before {
  content: "\e977";
}
div[name="soccer"] .ic-copy:before {
  content: "\e978";
}
div[name="soccer"] .ic-comment-exclamation11:before {
  content: "\e979";
}
div[name="soccer"] .ic-bookmark:before {
  content: "\e97f";
}
div[name="soccer"] .ic-share1:before {
  content: "\e99e";
}
