@font-face {
    font-family: 'BeVietNamePro';
    src: url('./BeVietnamPro-Light.ttf') format('truetype');
    font-display: swap;
    font-style: light;
}
@font-face {
    font-family: 'BeVietNamePro';
    src: url('./BeVietnamPro-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'BeVietNamPro';
    src: url('./BeVietnamPro-RegularItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: 'BeVietNamePro';
    src: url('./BeVietnamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'BeVietNamePro';
    src: url('./BeVietnamPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'BeVietNamePro';
    src: url('./BeVietnamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}